<section class="post-comments">
  {% if site.comment.disqus %}
    <div id="disqus_thread"></div>
    <script>

    var disqus_config = function () {
        this.page.url = "{{ page.url | prepend: site.baseurl | prepend: site.url }}";
        this.page.identifier = "{{ page.url }}";
    };

    var disqus_shortname = '{{ site.comment.disqus }}';

    (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>要查看<a href="http://disqus.com/?ref_noscript"> Disqus </a>评论，请启用 JavaScript</noscript>
    如果你看不到评论框，说明Disqus又被墙了……
  {% elsif site.comment.valine.id %}
    <script type="text/javascript" src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
    <!--
    <script type="text/javascript" src="https://panjunwen.com/assets/js/Valine.min.js"></script>
    -->
    <script src='//unpkg.com/valine/dist/Valine.min.js'></script>
    <div id="comments" class="comments"></div>
    <script>
      new Valine({
          av: AV,
          el: '.comments',
          smiles_url: 'https://blog.minidump.info/media/smiles',
          notify: false,
          verify: false,
          appId: '{{ site.comment.valine.id }}',
          appKey: '{{ site.comment.valine.key }}',
          placeholder: '随便说两句吧~'
      });
    </script>
  {% endif %}
</section>
