<section class="disqus">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/disqusjs@1.2/dist/disqusjs.css">
    <script src="https://cdn.jsdelivr.net/npm/disqusjs@1.1/dist/disqus.js"></script>
    <div id="disqus_thread"></div>
    <script>
    // https://github.com/SukkaW/DisqusJS
    var dsqjs = new DisqusJS({
        shortname: '{{ site.comment.disqus }}',
        siteName: '{{ site.title }}',
        api: "https://api.skk.moe/disqus/",
        apikey: '7rR6S5Yd3py9ubI7MV7SVqYadJTOGO4LmpclVulDvIDv48KgDCSAECTqIBpqCjlJ',
        admin: '{{ site.comment.disqus }}'
    });
    </script>
    <noscript>要查看<a href="http://disqus.com/?ref_noscript"> Disqus </a>评论，请启用 JavaScript</noscript>

</section>
