---
layout: default
---
<article class="post-container post-container--single" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <section class="post">
    {{ content }}
    <span id="s"></span>
  </section>
</article>

<script type="text/javascript">
var time = 10; //时间,秒
var i = 0;
function TickCount(){
    document.getElementById('s').innerText = "Return in " + (time - i) + " seconds.";
    i++;
}
(function() {
    timer=setInterval('TickCount()', 1000);//显示时间
    timer=setTimeout(function(){
        window.location = "https://blog.minidump.info/#blog";
    },time * 1000); //跳转
})();
</script>
