---
layout: default
---

<article class="post-container post-container--single" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <div class="post-meta">
      <time datetime="{{page.date | date: date_to_xmlschema}}" itemprop="datePublished" class="post-meta__date date">{{page.date | date: "%F"}}</time> &#8226;
      {% if page.categories %}<span class="tags">In category {% for cat in page.categories %}<a href="/categories/#{{ cat }}" title="{{ cat }}">{{ cat }}</a>&nbsp;{% endfor %}</span>{% endif %}
      {% if page.tags %}&#8226; <span class="tags">Tagged with {% for tag in page.tags %}<a href="/tags/#{{ tag }}" title="{{ tag }}">{{ tag }}</a>&nbsp;{% endfor %}</span>{% endif %}
    </div>
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <section class="post">
    {{ content }}
    <p>本文地址：<a href="{{ page.url }}">{{ site.url }}{{ page.url }}</a></p>
  </section>
</article>

<link rel="stylesheet" type="text/css" href="https://dn-istkani.qbox.me/css/pay.css">
<section class="read-more">
<div>
  <div style="padding: 10px 0; margin: 20px auto; width: 90%; text-align: center;">
    <div style="line-height:2.5;">感觉本文内容不错，读后有收获，不妨小额赞助我一下！</div>
    <button id="rewardButton" disable="enable" onclick="var qr = document.getElementById('QR'); if (qr.style.display === 'none') {qr.style.display='block';} else {qr.style.display='none'}">
      <span>打赏</span>
    </button>
    <div id="QR" style="display: none;">
        <div id="wechat" style="display: inline-block">
          <a href="https://dn-istkani.qbox.me/assets/images/wepay.jpg" class="fancybox" rel="group">
          <img id="wechat_qr" src="https://dn-istkani.qbox.me/assets/images/wepay.jpg" alt="missdeer WeChat Pay">
          </a>
          <p>微信扫一扫</p>
        </div>
        <div id="wechat" style="display: inline-block">
          <a href="https://dn-istkani.qbox.me/assets/images/alipay.jpg" class="fancybox" rel="group">
          <img id="alipay_qr" src="https://dn-istkani.qbox.me/assets/images/alipay.jpg" alt="missdeer AliPay">
          </a>
          <p>支付宝扫一扫</p>
        </div>
    </div>
  </div>
</div>
</section>

{% include read-more.html %}
{% include comments.html %}
