---
layout: default
---

<article class="post-container post-container--single" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <div class="post-meta">
      <time datetime="{{page.date | date: date_to_xmlschema}}" itemprop="datePublished" class="post-meta__date date">{{page.date | date: "%F"}}</time>
      {% if page.categories.size > 0 %}&#8226; <span class="tags">In category {% for cat in page.categories %}<a href={{ "/categories/#" | prepend: site.baseurl }}{{ cat }}  title="{{ cat }}">{{ cat }}</a>&nbsp;{% endfor %}</span>{% endif %}
      {% if page.tags.size > 0 %}&#8226; <span class="tags">Tagged with {% for tag in page.tags %}<a href={{ "/tags/#" | prepend: site.baseurl }}{{ tag }}  title="{{ tag }}">{{ tag }}</a>&nbsp;{% endfor %}</span>{% endif %}
      &#8226; <span class="tags"><a href="{{ "/archive/" | prepend: site.baseurl }}"  title="全部文章列表">全部文章列表</a></span>
    </div>
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <section class="post">
    {{ content }}
    <p><strong>本文地址：</strong><pre id="github-post-url" class="highlight github-post-url"><a href="https://minidump.info/blog{{ page.url }}">https://minidump.info/blog{{ page.url }}</a></pre></p>
  </section>
</article>

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/missdeer/blog@gh-pages/css/pay.min.css">
<section class="read-more">
<div>
  <div style="padding: 10px 0; margin: 20px auto; width: 90%; text-align: center;">
    <div style="line-height:2.5;">感觉本文不错，不妨小额鼓励我一下！</div>
    <button id="rewardButton" disable="enable" onclick="var qr = document.getElementById('QR'); if (qr.style.display === 'none') {qr.style.display='block';} else {qr.style.display='none'}">
      <span>打赏</span>
    </button>
    <div id="QR" style="display: none;">
        <div id="wechat" style="display: inline-block">
          <a href="https://cdn.jsdelivr.net/gh/missdeer/blog@gh-pages/assets/images/wepay.jpg" class="fancybox" rel="group">
          <img id="wechat_qr" src="https://cdn.jsdelivr.net/gh/missdeer/blog@gh-pages/assets/images/wepay.jpg" alt="微信扫一扫">
          </a>
          <p>微信扫一扫</p>
        </div>
        <div id="wechat" style="display: inline-block">
          <a href="https://cdn.jsdelivr.net/gh/missdeer/blog@gh-pages/assets/images/alipay.jpg" class="fancybox" rel="group">
          <img id="alipay_qr" src="https://cdn.jsdelivr.net/gh/missdeer/blog@gh-pages/assets/images/alipay.jpg" alt="支付宝扫一扫">
          </a>
          <p>支付宝扫一扫</p>
        </div>
    </div>
  </div>
</div>
</section>

{% include read-more.html %}
{% include comments.html %}